@font-face {
  font-family: "Gotham";
  src: url(../src/fonts/Gotham-Black.otf);
}

body {
  height: 100%;
  background-color: #ccf381;
}
.BCont {
  background-color: #ccf381;
  height: 100vh;
  width: 100%;
}

.buttoncont1 {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.buttoncont2 {
  display: flex;
  justify-content: center;
}

.TimeButton {
  font-family: "Gotham", sans-serif;
  font-size: 1rem;
  color: #4831d4;
  background-color: transparent;
  border: solid 1px #4831d4;
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
  border-radius: 7px !important;
  /* margin-right: 2% !important; */
}

/*Limegreen: #CCF381 */
/*Electric Blue: #4831D4 */

.TimeButton:hover {
  color: #ccf381;
  background-color: #4831d4;
}

.selectedButton {
  /* margin-right: 2% !important; */
  border-radius: 7px !important;
  font-family: "Gotham", sans-serif;
  font-size: 1em;
  color: #ccf381 !important;
  background-color: #4831d4 !important;
}

.cont {
  border: #4831d4 1px solid;
}

.container {
}

.row {
  padding: 2%;
}

.entrycontainer {
  /* margin-top: 2% !important; */
  /* border: 7px #4831D4;
  border-style: double;
  border-radius: 7px; */
  max-width: 55%;
}

.leftside {
}

.EntryImg {
  height: auto;
  max-width: 100%;
  margin: 0 auto;
  border: 4px #4831d4 solid;
  /* border-radius: 40px; */
  animation: mymove 4s infinite;
}

.recentImg {
  height: auto;
  max-width: 100%;
  margin: 0 auto;
  border: 4px #4831d4 solid;
  /* border-radius: 40px; */
  /* animation: mymove 4s infinite; */
  float: right;
}

.recentcontainer {
  max-width: 30%;
}

.recentlongago {
  font-family: "Gotham", sans-serif;
  color: #4831d4;
  font-size: 1rem;
}

@keyframes mymove {
  50% {
    border-radius: 50px;
  }
}

@media only screen and (max-width: 576px) {
  .EntryImg {
    max-width: 60%;
  }
}

.SongName {
  font-family: "Gotham", sans-serif;
  color: #4831d4;
  font-size: 5rem;
  /* float:right; */
}
.Artist {
  font-family: "Gotham", sans-serif;
  color: #4831d4;
  font-size: 1rem;
  /* float: right; */
}

.Artisttext {
  font-family: "Gotham", sans-serif;
  color: #4831d4;
  font-size: 3rem;
  /* float: right; */
}

.rankcont {
  text-align: right;
}

@media only screen and (max-width: 576px) {
  .rankcont {
    text-align: left;
  }
}
.songartistcont {
  text-align: left;
}

.entryText {
  color: #4831d4;
  font-size: 20px;
  /* float: right; */
}

.rank {
  font-family: "Gotham", sans-serif;
  color: #4831d4;
  font-size: 6rem;
}

.nowplayingcont {
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: #ccf381;
  background-size: cover;
}

.nowplayingrow {
  /* height: 40%;
  width: 75%; */
  margin: auto;
  background-color: #4831d4;
  /* -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px); */
  padding: 20px;
  border-radius: 30px;
  /* margin: 30px; */
}

.nowplayingbutton {
  font-family: "Gotham", sans-serif;
  font-size: 1rem;
  color: #4831d4;
  background-color: transparent;
  border: solid 1px #4831d4;
  /* -webkit-transition: background-color 0.1s;
  transition: background-color 0.1s; */
}

.nowplayingbutton:hover {
  color: #ccf381;
  background-color: #4831d4;
}

.NowplayingImg {
  max-width: 100%;
}
.notblurred {
}
.nowplayingtextcont {
}
.NowplayingSong {
  font-family: "Gotham", sans-serif;
  color: #ccf381;
  font-size: 3rem;
}
.NowplayingArtist {
  font-family: "Gotham", sans-serif;
  color: #ccf381;
  font-size: 1rem;
  letter-spacing: 2px;
}
