@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");

@font-face {
  font-family: "Gotham";
  src: url(../src/fonts/Gotham-Black.otf);
}

body {
  height: 100%;
  background-color: black;
}
.BCont {
  background-color: black;
  height: 100vh;
  width: 100%;
}

.buttoncont1 {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.buttoncont2 {
  display: flex;
  justify-content: center;
}

.TimeButton {
  font-family: "Gotham", sans-serif;
  font-size: 1rem;
  color: white;
  background-color: transparent;
  border: solid 1px white;
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
  border-radius: 7px;
  /* margin-right: 2% !important; */
}

.TimeButton:hover {
  color: black;
  background-color: white;
}

.selectedButton {
  /* margin-right: 2% !important; */
  border-radius: 7px;
  font-family: "Gotham", sans-serif;
  font-size: 1em;
  color: black !important;
  background-color: white !important;
}

.cont {
  border: white 1px solid;
}

.container {
}

.row {
  padding: 2%;
}

.entrycontainer {
  margin-top: 5% !important;
  border: 7px white;
  border-style: double;
  border-radius: 7px;
}

.EntryImg {
  height: auto;
  width: auto;
  max-width: 100%;
  margin: 0 auto;
  /* border: 4px white transparent; */
  /* border-radius: 80px; */
}

@media only screen and (max-width: 600px) {
  .EntryImg {
    max-width: 100%;
  }
}

.SongName {
  font-family: "Gotham", sans-serif;
  color: white;
  font-size: 5rem;
  /* float:right; */
}
.Artist {
  font-family: "Gotham", sans-serif;
  color: white;
  font-size: 1rem;
  /* float: right; */
}

.Artisttext {
  font-family: "Gotham", sans-serif;
  color: white;
  font-size: 3rem;
  /* float: right; */
}

.entryText {
  color: white;
  font-size: 20px;
  /* float: right; */
}

.rank {
  font-family: "Gotham", sans-serif;
  color: white;
  font-size: 7rem;
}

.nowplayingcont {
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: blueviolet;
  background-size: cover;
}

.nowplayingrow {
  /* height: 40%;
  width: 75%; */
  margin: auto;
  background-color: transparent;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  padding: 20px;
  border-radius: 30px;
  /* margin: 30px; */
}

.NowplayingImg {
  max-width: 100%;
}
.notblurred {
}
.nowplayingtextcont {
}
.NowplayingSong {
  font-family: "Gotham", sans-serif;
  color: white;
  font-size: 3rem;
}
.NowplayingArtist {
  font-family: "Gotham", sans-serif;
  color: white;
  font-size: 1rem;
  letter-spacing: 2px;
}

#myProgress {
  width: 100%;
  background-color: grey;
  border-radius: 10px;
}

#myBar {
  width: 1%;
  height: 15px;
  background-color: white;
}
