@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");
body {
  height: 100%;
  background-color: black;
}
.BCont {
  background-color: black;
  height: 100%;
  width: 100%;
}

.buttoncont1 {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.buttoncont2 {
  display: flex;
  justify-content: center;
}

.TimeButton {
  font-family: "Arimo", sans-serif;
  font-size: 1em;
  color: white;
  background-color: transparent;
  border: solid 3px white;
  margin-right: 20px;
  border-radius: 30px;
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
}

.TimeButton:hover {
  background-color: white;
  color: black;
}

.Timebutton:active {
  background-color: white;
  color: black;
}

.cont {
  border: white 1px solid;
}

.EntryImg {
  height: auto;
  width: auto;
  max-width: 70px;
  max-height: 70px;
  float: left;
  padding-left: 17px;
  padding-right: 30px;
  padding-top: 30px;
}

.SongName {
  font-family: "Arimo", sans-serif;
  color: white;
  font-size: 30px;
  /* float:right; */
}
.Artist {
  font-family: "Arimo", sans-serif;
  color: white;
  font-size: 20px;
  /* float: right; */
}

.entryText {
  color: white;
  font-size: 20px;
  /* float: right; */
}

.rank {
  font-family: "Arimo", sans-serif;
  color: white;
  font-size: 20px;
  float: left;
}

.Artistcont {
  display: flex;
}

.ArtistRank {
  font-family: "Arimo", sans-serif;
  color: white;
  font-size: 20px;
  /* float: left; */
}

.EntryArtistImg {
  height: auto;
  width: auto;
  max-width: 70px;
  max-height: 70px;
  /* float: left; */
}

.entryArtistText {
  /* text-align: center; */
}

.ArtistName {
  font-family: "Arimo", sans-serif;
  color: white;
  font-size: 20px;
  align-self: flex-end;
  /* float: right; */
}
